Django>=5.2,<5.3
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
drf-spectacular
psycopg2-binary
pgvector
python-dotenv
django-storages[boto3]
pymupdf
requests
gunicorn
